body, html {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  color: #E0E0E0;
  background-color: #121212;
}

header, main, footer {
  text-align: center;
  padding: 20px;
}

header {
  flex: 1;
  font-family: Helvetica, sans-serif;
}

main {
  flex: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: serif;
}

footer {
  flex: 1;
  font-family: Helvetica, sans-serif;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

main h1 {
  font-size: 2.5em;
  margin-bottom: 20px;
  font-style: italic;
}

footer p a {
  color: #E0E0E0;
  text-decoration: none;
}

footer nav {
  
}

footer nav a {
  color: #BB86FC;
  text-decoration: none;
  font-size: 0.8em;
}

footer nav a:hover {
  text-decoration: underline;
}
